/* --------------------------------RESET CSS KISMI-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------BAŞLANGIÇ---------------------------------------- */
body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}

.container{
    display: block; /*Altında bulunan divleri üst üste koymaya yarıyor.*/
    
}
/*------------------------------------------HEADER KISMI-------------------------------------- */
.container .header{
    width: 100%;
    height: 60px;
    background: #b01;
    display: flex;    
}

.container .header .header_genel{
    width: 100%;
    height: 100%;
    display: flex;  /* Responsive Tasarım*/
    justify-content: flex-start;
    background: #b01;    
}

.container .header .header_genel .header_ic1{
    width: 200px;
    height: 50px;    
    margin: 15px 0 0 16px; /* Margin dışındaki dive göre konumlandırır. Biz header_genel e göre boşluk verdik. */    
}

.container .header .header_genel .header_ic1 .logo{
    width: 160px;
    height: 30px;
    margin: 2px 0 0 0;
}
.container .header .header_genel .header_ic3{
    width: 280px;
    height: 50px;
    margin: 5px 0 0 550px;
    display: flex;
    flex-wrap: wrap;    
    margin-left: 625px;
}

.container .header .header_genel .header_ic3 .mesaj{
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
}

.container .header .header_genel .header_ic3 .bildirim{
    width: 20px;
    height: 23px;
    margin: 13px 0 0 40px;
}

.container .header .header_genel .header_ic3 .ayarlar{
    width: 23px;
    height: 23px;
    margin: 13px 0 0 40px;

}

.container .headerin_alti{
    width: 100%;
    height: 900px;
    background:#f6f7f8;
    display: flex;
}
/*------------------------------------------SİDEBAR KISMI-------------------------------------- */
.container .headerin_alti .sidebar{
    width: 17%;
    float: left;
    height: auto;    
    text-align: center;
    background: #f6f7f8;   
}

.container .headerin_alti .sidebar .menu{
    width: 100%;
    height: 40px;
    background:#000;
    display: flex;
    justify-content: space-between;
}

.container .headerin_alti .sidebar .menu .menu_yazi{
    text-align: left;
    color:#FFFFFF;
    padding: 15px 0 0 20px;
    font-size: 14px;
    font-weight: bolder;
    font-style: italic;    
}

.container .headerin_alti .sidebar .menu .menu_logo{
    width: 20px;
    height: 20px;
    margin: 10px 5px 0 0;
}

.container .headerin_alti .sidebar .panel{
    display: flex;
    height: 70px;       
}

.container .headerin_alti .sidebar .panel:hover{
    display: flex;
    background: linear-gradient(rgb(255, 255, 78),#ff5b3e);    
    color:white;
    border-radius: 10px;       
}

.container .headerin_alti .sidebar .panel .icon{
    width: 30px;
    height: 30px;
    margin: 25px 0 0 14px;   
}

.container .headerin_alti .sidebar .panel .span{
    color:#000;
    margin: 34px 0 35px 8px;
    font-size:14px;
    font-weight: bolder;    
}

.container .headerin_alti .sidebar .panel .span .linkler{
    text-decoration: none;
    color:#000;
}

.container .headerin_alti .sidebar .panel .span .linkler:hover{
    padding-left:35px;
    transition: all 1s;
    font-weight: bold;
    color: #b01;
    font-style: oblique;    
}
/*------------------------------------------CONTENT KISMI-------------------------------------- */
.container .headerin_alti .content{
    display: flex;
    flex-direction: column;
    /*flex: 1; /*Tarayıcının genişliği kadar genişlesin anlamına geliyor.*/
    height: 100%;
    float: left;
    width: 83%;     
}
    
.container .headerin_alti .content .content_ustu{
    display: flex;
    flex-wrap: wrap; /*Kutular sayfaya sığmazsa sayfa küçüldükçe kutuları aşağıya atmaya yarar*/
    justify-content: space-around;
    width: 100%;
    height: 145px;    
}   
    

    
.container .headerin_alti .content .content_ustu .kutu_icerik{    
    display: flex;
    flex-direction: column;    
    width: 230px;
    height: 100px;
    margin: 20px;
    border: 1px;
    border-style: solid;
    border-color: #eeeeee;        
    /* background: linear-gradient(rgb(255, 255, 78),#ff5b3e); */
    background:lemonchiffon;
    opacity: 0.9;
    box-shadow: 2px 2px 4px #000;
    border-radius: 0px;
    transition: border-radius 1s, box-shadow 2s;
}

.container .headerin_alti .content .content_ustu .kutu_icerik:hover{
    display: flex;
    flex-direction: column;    
    width: 230px;
    height: 100px;
    margin: 20px;
    border: 1px;
    border-style: solid;
    border-color: #eeeeee;        
    background: linear-gradient(rgb(255, 255, 78),#ff5b3e);
    opacity: 0.9;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;
}

.container .headerin_alti .content .content_ustu .kutu_icerik .icerik_img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.container .headerin_alti .content .content_ustu .kutu_icerik .icerik_span{
    font-weight: bolder;
    margin: 4px auto 0 auto;
    font-size: 13px;
}

.container .headerin_alti .content .content_ustu .kutu_icerik .icerik_sayi{
    font-weight: bold;
    margin: 2px auto 0 auto;
    color: #b01;
    font-size: 15px;
}

.container .headerin_alti .content .content_ustu .kutu_icerik .yuzdelik_div{
    margin: 0 auto;    
}

.container .headerin_alti .content .content_ustu .kutu_icerik .yuzdelik_div .yuzdelik_yazi{
    font-weight: bold;
    margin: -5px 0 3px 0;
    font-size: 15px;
}

.container .headerin_alti .content .content_ustu .kutu_icerik .yuzdelik_div .yuzdelik_resim{
    width: 18px;
    height: 18px;
}


.container .headerin_alti .content .content_orta{
    display: flex;
    flex-wrap: wrap; /*Kutular sayfaya sığmazsa sayfa küçüldükçe kutuları aşağıya atmaya yarar*/
    justify-content: space-around;
    width: 100%;
    height: 240px;    
}   


.container .headerin_alti .content .content_orta .kutu_content_icerik{
    display: flex;
    flex-direction: column;    
    width: 325px;
    height: 240px;
    /* margin: 20px; */
    border: 1px;
    border-style: solid;
    border-color: #eeeeee;        
    background: #eeeeee;    
    box-shadow: 2px 2px 4px #000;
    border-radius: 0px;
    transition: border-radius 1s, box-shadow 2s;

}




.container .headerin_alti .content .content_alti{
    display: flex;
    flex-wrap: wrap; /*Kutular sayfaya sığmazsa sayfa küçüldükçe kutuları aşağıya atmaya yarar*/
    justify-content: space-around;
    width: 100%;
    height: 39px;   
}   


.container .headerin_alti .content .content_alti .content_alti_yazi{
    font-size: 20px;
    font-weight: bold;
    color: #000;    
    margin: 20px 0 0 -888px;    
}


.container .headerin_alti .content .content_en_alti{
    display: flex;
    flex-wrap: wrap; /*Kutular sayfaya sığmazsa sayfa küçüldükçe kutuları aşağıya atmaya yarar*/
    justify-content: space-around;
    width: 100%;
    height: 150px;   
}

.container .headerin_alti .content .content_en_alti .content_en_alti_resim{
    width: 120px;
    height: 120px;
    background: #b01;
}


.container .headerin_alti .content .content_en_alti .content_en_alti_resim .favori_yemek{
    width: 120px;
    height: 120px;   
}

.container .headerin_alti .content .content_en_alti_icerik{
    display: flex;
    flex-direction: column;    
    width: 230px;
    height: 120px;
    margin: 20px;
    border: 1px;
    border-style: solid;
    border-color: #eeeeee;        
    background: #faf2e5;
    opacity: 0.9;
    box-shadow: 2px 2px 4px #000;
    border-radius: 0px;
    transition: border-radius 1s, box-shadow 2s;
    color: #ff5b3e;
}

.container .headerin_alti .content .content_en_alti_icerik .content_alti_siparis_sayisi{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b01;
    font-size: 14px;
    font-weight: bolder;
    margin: -100px 0 0 135px;
}

.container .headerin_alti .content .content_en_alti_icerik .content_alti_siparis_resmi{
    width: 40px;
    height: 40px;
    margin: 0 0 0 24px;
}
/*------------------------------------------SEARCHBAR KISMI-------------------------------------- */
#box {
    max-width: 300px;
    position: relative;
    
    
}
 
#box .fa-search {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 15px;
    
}
 
#search {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #b01;
    border-radius: 4px;
    font-size:15px;
    font-weight: bolder;
    padding: 12px 20px 12px 40px;
    margin: 9px 0 0 40px;
    box-shadow: 2px 2px 3px 3px;
    
}
/*------------------------------------------CHART KISMI-------------------------------------- */
#chartContainer{
    width: 325px;
    height: 240px;
}

#chartContainer2{
    width: 325px;
    height: 240px;
}
/*------------------------------------------FOOOTER KISMI-------------------------------------- */
.container .footer{
    background-color: rgba(255, 255, 255, 0.5);            
    height: 35px;        
}

.container .footer .footer_yazi{    
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    font-weight:bold;
}